<div class="container m-1">
  <h1 class="mt-3">Selectores anidados</h1>
  <hr>

  <form [formGroup]="myForm">
    <!-- Region -->
    <div class="row mb-3">
      <div class="col">
        <label for="continente" class="form-label">Continente:</label>
        <select formControlName="region" name="continente" id="continente" class="form-control">
          <option value="">--Seleccione Región--</option>
          <option *ngFor="let region of regions" [value]="region">{{region}}</option>
        </select>
      </div>
    </div>
    <!-- Países -->
    <div class="row mb-3" *ngIf="countriesByRegion.length > 0">
      <div class="col">
        <label for="pais" class="form-label">País:</label>
        <select formControlName="country" name="pais" id="pais" class="form-control">
          <option value="">--Seleccione País--</option>
          <option *ngFor="let pais of countriesByRegion" [value]="pais.cca3">{{pais.name}}</option>
        </select>
      </div>
    </div>
    <!-- Fronteras -->
    <div class="row mb-3" *ngIf="borders.length > 0">
      <div class="col">
        <label for="border" class="form-label">Frontera:</label>
        <select formControlName="border" name="border" id="border" class="form-control">
          <option value="">--Seleccione Frontera--</option>
          <option *ngFor="let border of borders" [value]="border.cca3">{{border.name}}</option>
        </select>
      </div>
    </div>

  </form>

  <h3>Formulario</h3>
  <code>
    {{myForm.value | json}}
  </code>
  <p>
    is form valid: {{myForm.valid}}
  </p>
</div>
